@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: rgb(55,138,171);
    background: linear-gradient(-45deg, rgba(55,138,171,1) 11%, rgba(0,212,255,1) 87%);
}

.startup-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    gap: 20px;
    /* height: 300px; */
    width: 400px;
    margin-top: 100px;
    background: rgb(34, 50, 65);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 150ms ease-in;
}

.startup-menu.invisible {
    opacity: 0;
}

button {
    padding: 8px 10px;
    /* background: rgb(109, 210, 250); */
    background: rgb(1, 172, 206);
    font-weight: bold;
    color: white;
}

button:hover {
    background-color: rgb(13, 150, 177);
}

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 50px;
    background: rgb(34, 50, 65);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.box-click {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border: solid 2px red;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 40px;
    background: rgb(34, 50, 65);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
